fieldset {
    background-color: #FAFFDC;
    border: 8px solid yellow;
    margin-bottom: 10px;
}

#cara {
    
    margin-bottom: 30px;
}
input {
  padding: .2em;
}
div {
  margin: .4em 0;
}
label {
  width: 10%;
  float: left;
}
.rojo {
    background: red;
}
.azul {
    background: #7000FF;
}
