h1 {
    color: red;
    font-family: arial;
    font-size: xlarge;
}

#P {
    color: firebrick;
    font-family: times new roman;
    font-size: medium;
}

#N {
    color: #7500ff;
    font-weight: bold;
    font-size: large;
    font-family: courier new;
}

#C {
    color: #64c04e;
    font-style: italic;
    font-family: small;
    font-size: calibri;
}
li{
    background-color: #7f7f7f;
        color: yellow;
}